<div th:replace="fragmentos/_top"></div>

<main>
    <!-- Sale & Revenue Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-6 col-xl-3">
                <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-line fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Total de Funcionário</p>
                        <h6 class="mb-0"> <span th:text="${totalFuncionarios}"></span></h6>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-bar fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Total de M.D</p>
                        <h6 class="mb-0"><span th:text="${totalMedidasDispiplinares}"></span></h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-area fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Total Detentos</p>
                        <h6 class="mb-0"><span th:text="${totalDetentos}"></span></h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-pie fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Total de Postos</p>
                        <h6 class="mb-0"><span th:text="${totalPostos}"></span></h6>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-3">
                <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-pie fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Total de Denúncias</p>
                        <h6 class="mb-0"><span th:text="${totalDenuncias}"></span></h6>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-3">
                <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-pie fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Total de Queixas</p>
                        <h6 class="mb-0"><span th:text="${totalQueixas}"></span></h6>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-3">
                <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-pie fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Total de A.Noticias</p>
                        <h6 class="mb-0"><span th:text="${totalAutoNoticias}"></span></h6>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-3">
                <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-pie fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Total de Horários</p>
                        <h6 class="mb-0"><span th:text="${totalHorarios}"></span></h6>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-3">
                <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-pie fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Total de Turnos</p>
                        <h6 class="mb-0"><span th:text="${totalTurnos}"></span></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sale & Revenue End -->


    <!-- Sales Chart Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Medidas Disciplinares Aplicada</h6>
                    <canvas id="line-chart-md"></canvas>
                </div>
            </div>

            <!-- <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Worldwide Sales</h6>
                        <a href="">Show All</a>
                    </div>
                    <canvas id="worldwide-sales"></canvas>
                </div>
            </div> -->
            <!-- <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Salse & Revenue</h6>
                        <a href="">Show All</a>
                    </div>
                    <canvas id="salse-revenue"></canvas>
                </div>
            </div> -->
        </div>
    </div>



    <div class="container-fluid pt-4 px-4">
        <h1 class="text-bg-secondary">Lista de Funcionários</h1>
        <div class="shadow p-3 mb-5 bg-white rounded text-center">
            <div class="d-flex align-items-center justify-content-between mb-4 ">
                <h3 class="mb-0  text-bg-secondary">Funcionários</h3>
                <a th:href="@{/funcionarios/cadastrar}" class="btn btn-primary">
                    <i class="bi bi-plus-circle-fill"></i>
                    Adicionar Funcionário
                </a>
            </div>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-bg-secondary">
                            <th scope="col">#</th>
                            <th scope="col">Nome Completo</th>
                            <th scope="col">BI</th>
                            <th scope="col">Cargo</th>
                            <th scope="col">Departamento</th>
                            <th scope="col">Email</th>
                            <th scope="col">Acções</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${funcionarios.empty}">
                            <td colspan="7">Não existem pacientes.</td>
                        </tr>
                        <tr th:each="funcionario : ${funcionarios}">
                            <td scope="row">#</span></td>
                            <td><span th:text="${funcionario.nomeCompleto}"></span></td>
                            <td><span th:text="${funcionario.bi}"></span></td>
                            <td><span th:text="${funcionario.cargo}"></span></td>
                            <td><span th:text="${funcionario.departamento}"></span></td>
                            <td><span th:text="${funcionario.email}"></span></td>
                            <td>
                                <a title="Detalhes" th:href="@{'/funcionarios/detalhes/' + ${funcionario.id}}"
                                    class="btn btn-primary m-1"><i class="bi bi-eye-fill"></i></a>
                                <a title="Editar" th:href="@{'/funcionarios/editar/' + ${funcionario.id}}"
                                    class="btn btn-primary m-1"><i class="bi bi-pencil-square"></i></a>
                                <!--<button title="Eliminar"  th:href="@{'/funcionarios/eliminar/' + ${funcionario.id}}"  type="submit" class="btn btn-primary m-1"><i class="bi bi-trash"></i></button>-->
                                <a title="Eliminar" th:href="@{'/funcionarios/eliminar/' + ${funcionario.id}}"
                                    class="btn btn-primary m-1"
                                    onclick="return confirm('Tem certeza de que deseja excluir?');"><i
                                        class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</main>

<script>
    window.addEventListener("load", () => {

        // Chart Global Color
        Chart.defaults.color = "#ffff";
        Chart.defaults.borderColor = "#ffff";

        // Single Line Chart
        var ctx3 = $("#line-chart-md").get(0).getContext("2d");
        var myChart3 = new Chart(ctx3, {
            type: "line",
            data: {
                labels: [50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150],
                datasets: [{
                    label: "Salse",
                    fill: false,
                    backgroundColor: "rgba(27, 123, 233, .7)",
                    data: [7, 8, 8, 9, 9, 9, 10, 11, 14, 14, 15]
                }]
            },
            options: {
                responsive: true
            }
        });



        // var ctx1 = $("#worldwide-sales").get(0).getContext("2d");
        // var myChart1 = new Chart(ctx1, {
        //     type: "bar",
        //     data: {
        //         labels: ["2016", "2017", "2018", "2019", "2020", "2021", "2022"],
        //         datasets: [{
        //                 label: "USA",
        //                 data: [15, 30, 55, 65, 60, 80, 95],
        //                 backgroundColor: "rgba(27, 123, 233, .7)"
        //             },
        //             {
        //                 label: "UK",
        //                 data: [8, 35, 40, 60, 70, 55, 75],
        //                 backgroundColor: "rgba(27, 123, 233, .5)"
        //             },
        //             {
        //                 label: "AU",
        //                 data: [12, 25, 45, 55, 65, 70, 60],
        //                 backgroundColor: "rgba(27, 123, 233, .3)"
        //             }
        //         ]
        //         },
        //     options: {
        //         responsive: true
        //     }
        // });


        // var ctx2 = $("#salse-revenue").get(0).getContext("2d");
        // var myChart2 = new Chart(ctx2, {
        //     type: "line",
        //     data: {
        //         labels: ["2016", "2017", "2018", "2019", "2020", "2021", "2022"],
        //         datasets: [{
        //                 label: "Salse",
        //                 data: [15, 30, 55, 45, 70, 65, 85],
        //                 backgroundColor: "rgba(27, 123, 233, .7)",
        //                 fill: true
        //             },
        //             {
        //                 label: "Revenue",
        //                 data: [99, 135, 170, 130, 190, 180, 270],
        //                 backgroundColor: "rgba(27, 123, 233, .5)",
        //                 fill: true
        //             }
        //         ]
        //         },
        //     options: {
        //         responsive: true
        //     }
        // });






        // var ctx4 = $("#bar-chart").get(0).getContext("2d");
        // var myChart4 = new Chart(ctx4, {
        //     type: "bar",
        //     data: {
        //         labels: ["Italy", "France", "Spain", "USA", "Argentina"],
        //         datasets: [{
        //             backgroundColor: [
        //                 "rgba(27, 123, 233, .7)",
        //                 "rgba(27, 123, 233, .6)",
        //                 "rgba(27, 123, 233, .5)",
        //                 "rgba(27, 123, 233, .4)",
        //                 "rgba(27, 123, 233, .3)"
        //             ],
        //             data: [55, 49, 44, 24, 15]
        //         }]
        //     },
        //     options: {
        //         responsive: true
        //     }
        // });


        // var ctx5 = $("#pie-chart").get(0).getContext("2d");
        // var myChart5 = new Chart(ctx5, {
        //     type: "pie",
        //     data: {
        //         labels: ["Italy", "France", "Spain", "USA", "Argentina"],
        //         datasets: [{
        //             backgroundColor: [
        //                 "rgba(27, 123, 233, .7)",
        //                 "rgba(27, 123, 233, .6)",
        //                 "rgba(27, 123, 233, .5)",
        //                 "rgba(27, 123, 233, .4)",
        //                 "rgba(27, 123, 233, .3)"
        //             ],
        //             data: [55, 49, 44, 24, 15]
        //         }]
        //     },
        //     options: {
        //         responsive: true
        //     }
        // });


        // var ctx6 = $("#doughnut-chart").get(0).getContext("2d");
        // var myChart6 = new Chart(ctx6, {
        //     type: "doughnut",
        //     data: {
        //         labels: ["Italy", "France", "Spain", "USA", "Argentina"],
        //         datasets: [{
        //             backgroundColor: [
        //                 "rgba(27, 123, 233, .7)",
        //                 "rgba(27, 123, 233, .6)",
        //                 "rgba(27, 123, 233, .5)",
        //                 "rgba(27, 123, 233, .4)",
        //                 "rgba(27, 123, 233, .3)"
        //             ],
        //             data: [55, 49, 44, 24, 15]
        //         }]
        //     },
        //     options: {
        //         responsive: true
        //     }
        // });

    });
</script>

<div th:replace="fragmentos/_bottom"></div>