<div th:replace="fragmentos/_top"></div>

<main>
    
    <div class="container-fluid pt-4 px-4">
        <h1>Detalhes da Medida Disciplinar</span> </h1>
        <div th:replace="fragmentos/_messages"></div> 
        <div class="bg-secondary text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4 border-bottom">
                <h3 class="mb-0 text-primary">Dados da Medida</h3>
            </div>

            <div>
                <form th:action="@{'/medidasDisciplinares/detalhes/' + ${medidaDisciplinar.id}}"  method="get">
                    <div class="row justify-content-end text-start">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                            <label for="funcionario">Nome Completo:</label>
                            <input type="text" name="funcionario" id="funcionario" class="form-control" th:value="${medidaDisciplinar.funcionario.nomeCompleto}" readonly>
                        </div>
                        
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                            <label for="dataAplicacao">Data da Aplicação</label>
                            <input type="date" name="dataAplicacao" id="dataAplicacao" class="form-control" th:value="${#dates.format(medidaDisciplinar.dataAplicacao, 'yyyy-MM-dd')}" readonly>
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                            <label for="adminAplicador">Quem aplicou a medida:</label>
                            <!--<input type="text" name="adminAplicador" id="adminAplicador" class="form-control" th:value="${medidaDisciplinar.adminAplicador.nomeCompleto}" readonly>-->
                            <input type="text" name="adminAplicador" id="adminAplicador" class="form-control" th:value="${medidaDisciplinar.adminAplicador}" readonly>
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                            <label for="motivo">Motivo:</label>
                            <input type="text" name="motivo" id="motivo" class="form-control" th:value="${medidaDisciplinar.motivo}" readonly>
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                            <label for="dataInicio">Data de Inicio</label>
                            <input type="date" name="dataInicio" id="dataInicio" class="form-control" th:value="${#dates.format(medidaDisciplinar.dataInicio, 'yyyy-MM-dd')}" readonly>
                        </div>
                        
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                            <label for="dataTermino">Data de Fim</label>
                            <input type="date" name="dataTermino" id="dataTermino" class="form-control" th:value="${#dates.format(medidaDisciplinar.dataTermino, 'yyyy-MM-dd')}" readonly>
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                            <label for="observacoes">Notas:</label>
                            <textarea name="observacoes" id="observacoes" cols="30" rows="10" class="form-control"  th:value="${medidaDisciplinar.observacoes}" readonly></textarea>
                        </div>

                        <div class="col-12 mt-3 text-center">
                            <a th:href="@{/medidasDisciplinares/listar}" class="btn btn-primary w-50">
                                <i class="bi bi-floppy-fill"></i>
                                Sair
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</main>


<div th:replace="fragmentos/_bottom"></div>