<div th:replace="fragmentos/_top"></div>

<main>

            <!-- Form Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4 col-sm-12">
                    <div class="bg-secondary rounded h-100 p-4">
                        <div class="row">
                            <div class="col form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput"
                                    placeholder="belger">
                                <label for="floatingInput">Nome Completo</label>
                            </div>
                            <div class="col form-floating mb-3">
                                <input type="date" class="form-control" id="dataNascimento">
                                <label for="dataNascimento">Data de Nascimento</label>
                            </div>
                        </div>
                        <fieldset class="row mb-3">
                            <legend class="col-form-label col-sm-2 pt-0">Género</legend>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios"
                                        id="gridRadios1" value="option1" checked>
                                    <label class="form-check-label" for="gridRadios1">
                                        Masculino
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios"
                                        id="gridRadios2" value="option2">
                                    <label class="form-check-label" for="gridRadios2">
                                        Feminino
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                        <div class="col form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput"
                                placeholder="Ex: 005448372BA045">
                            <label for="floatingInput">BI</label>
                        </div>
                        <div class="col form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput"
                                placeholder="Kilamba A12">
                            <label for="floatingInput">Endereço</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="tel" class="form-control" id="floatingPassword"
                                placeholder="tel">
                            <label for="floatingPassword">Contacto</label>                        
                        </div>
                        <div class="row">
                            <div class="col form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput"
                                    placeholder="Ex: Piquete">
                                <label for="floatingInput">Cargo</label>
                            </div>
                            <div class="col form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput"
                                    placeholder="Ex: RH">
                                <label for="floatingInput">Departamento</label>
                            </div>  
                        </div> 
                        <div class="row">
                            <div class="col form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Email</label>
                            </div>
                            <div class="col form-floating mb-4">
                                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                                <label for="floatingPassword">Password</label>
                            </div>
                        </div>                 
                    
                        <button type="button" class="btn btn-primary rounded-pill m-2">Cadastrar Funcionário</button>
                    </div>
                </div> 
            </div>
            <!-- Form End -->


        </main>


        <div th:replace="fragmentos/_bottom"></div>