<div th:replace="fragmentos/_top"></div>

<main>
    
    <div class="container-fluid pt-4 px-4">
        <h1>Editar Funcionario <span th:text="${funcionario.nomeCompleto}"></span> </h1>
        <div class="bg-secondary text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4 border-bottom">
                <h3 class="mb-0 text-primary">Dados do Funcionário</h3>
            </div>

            <div>
                <form th:action="@{'/funcionarios/editar/' + ${funcionario.id}}"  method="post">
                    <div class="row justify-content-end text-start">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                            <label for="nomeCompleto">Nome Completo:</label>
                            <input type="text" name="nomeCompleto" id="nomeCompleto" class="form-control" th:value="${funcionario.nomeCompleto}">
                        </div>
                        
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                            <label for="dataNascimento">Data de Nascimento</label>
                            <input type="date" name="dataNascimento" id="dataNascimento" class="form-control" th:value="${funcionario.dataNascimento}">
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                            <label for="bi">Nº do BI:</label>
                            <input type="text" name="bi" id="bi" class="form-control" th:value="${funcionario.bi}">
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                            <label for="endereco">Endereço:</label>
                            <input type="text" name="endereco" id="endereco" class="form-control" th:value="${funcionario.endereco}">
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                            <label for="contacto">Contacto:</label>
                            <input type="tel" name="contacto" id="contacto" class="form-control" th:value="${funcionario.Contacto}">
                        </div>
                        
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                            <label for="genero">Gênero:</label>
                            <select name="genero" id="genero" class="form-select">
                                <option value="M" selected>Masculino</option>
                                <option value="F">Femenino</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                            <label for="departamento">Departamento:</label>
                            <select name="departamento" id="departamento" class="form-select">
                                <option value="Dep. IT" selected>Departamento de IT</option>
                                <option value="Dep. Financeiro">Departamento Financeiro</option>
                            </select>
                        </div>
                        
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                            <label for="cargo">Cargo:</label>
                            <select name="cargo" id="cargo" class="form-select">
                                <option value="Piquete" selected>Piquete</option>
                                <option value="Patrulheiro">Patrulheiro</option>
                            </select>
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                            <label for="email">Email:</label>
                            <input type="email" name="email" id="email" class="form-control" th:value="${funcionario.email}">
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                            <label for="senha">Senha:</label>
                            <input type="password" name="senha" id="senha" class="form-control" value="">
                        </div>
                        <div class="col-12 mt-3 text-center">
                            <button type="submit" class="btn btn-primary w-50"> 
                                <i class="bi bi-floppy-fill"></i>
                                Guardar alterações
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</main>


<div th:replace="fragmentos/_bottom"></div>