<div th:replace="fragmentos/_top"></div>

<main>
    
    <div class="container-fluid pt-4 px-4">
        <h1>Detalhes do funcionário XXX </h1>
        <div class="bg-secondary text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4 border-bottom">
                <h3 class="mb-0 text-primary">Dados</h3>
            </div>

            <div>
                <form method="post">
                    <div class="row justify-content-end text-start">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                            <label for="nome">Nome Completo:</label>
                            <input type="text" name="nome" id="nome" class="form-control" value="Belger Fernandes">
                        </div>
                        
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                            <label for="dataNascimento">Data de Nascimento</label>
                            <input type="date" name="dataNascimento" id="dataNascimento" class="form-control" value="20010101">
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                            <label for="bi">Nº do BI:</label>
                            <input type="text" name="bi" id="bi" class="form-control" value="0051241LA040">
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                            <label for="nome">Endereço:</label>
                            <input type="text" name="endereco" id="endereco" class="form-control" value="Angola, Luanda,Rangel ">
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                            <label for="nome">Contacto:</label>
                            <input type="tel" name="telefone" id="telefone" class="form-control" value="900000000">
                        </div>
                        
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                            <label for="nome">Gênero:</label>
                            <select name="genero" id="genero" class="form-select">
                                <option value="M" selected>Masculino</option>
                                <option value="F">Femenino</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                            <label for="nome">Departamento:</label>
                            <select name="departamento" id="departamento" class="form-select">
                                <option value="Dep. IT" selected>Departamento de IT</option>
                                <option value="Dep. Financeiro">Departamento Financeiro</option>
                            </select>
                        </div>
                        
                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                            <label for="nome">Cargo:</label>
                            <select name="departamento" id="departamento" class="form-select">
                                <option value="Piquete" selected>Piquete</option>
                                <option value="Patrulheiro">Patrulheiro</option>
                            </select>
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                            <label for="email">Email:</label>
                            <input type="email" name="email" id="email" class="form-control" value="belmirofernandes@gmail.com">
                        </div>

                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                            <label for="senha">Senha:</label>
                            <input type="password" name="senha" id="senha" class="form-control" value="********">
                        </div>
                        <div class="col-12 mt-3 text-center">
                            <button type="submit" class="btn btn-primary w-50"> 
                                <i class="bi bi-floppy-fill"></i>
                                Guardar alterações
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</main>


<div th:replace="fragmentos/_bottom"></div>