<div th:replace="fragmentos/_top"></div>

<main>

            <!-- Table Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Listar Postos</h6>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Nome do Posto</th>
                                            <th scope="col">Localização</th>
                                            <th scope="col">Descrição</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Unidade 2</td>
                                            <td>Sambizanga</td>
                                            <td>O posto está localizado no sambizanga</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Unidade 5</td>
                                            <td>Rangel</td>
                                            <td>O posto está localizado no sambizanga</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Unidade 1</td>
                                            <td>Cazenga</td>
                                            <td>O posto está localizado no sambizanga</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Table End -->


        </main>


        <div th:replace="fragmentos/_bottom"></div>