<div th:replace="fragmentos/_top"></div>

<main>


    <div class="container-fluid pt-4 px-4">
        <h1>Lista de Ocorrências</h1>
    </div>
    <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4 ">
                <h3 class="mb-0  text-primary">Denúncias Feitas</h3>
                <a th:href="@{/ocorrencias/denuncia/cadastrar}" class="btn btn-primary">
                    <i class="bi bi-plus-circle-fill"></i>
                    Adicionar Denúncia
                </a>
            </div>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-white">
                            <th scope="col">#</th>
                            <th scope="col">Código</th>
                            <th scope="col">Nome do Reportante</th>
                            <th scope="col">Nº BI</th>
                            <th scope="col">Data da Ocorrência</th>
                            <th scope="col">Data da Denúncia</th>
                            <th scope="col">Acções</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${denuncias.empty}">
                            <td colspan="3">Não existem denuncias no sistema.</td>
                        </tr>
                        <tr th:each="denuncia : ${denuncias}">
                            <td scope="row">#</span></td>
                            <td scope="row">COD</span></td>
                            <td><span th:text="${denuncia.reportante.nomeCompleto}"></span></td>
                            <td><span th:text="${denuncia.reportante.bi}"></span></td>
                            <td><span th:text="${denuncia.dataOcorrido}"></span></td>
                            <td><span th:text="${denuncia.dataDenuncia}"></span></td>
                            <td class="d-lg-inline-flex">
                                <a title="Detalhes"  th:href="@{'/ocorrencias/denuncia/detalhes/' + ${denuncia.id}}" class="btn btn-primary m-1"><i class="bi bi-eye-fill"></i></a>
                                <a title="Editar" th:href="@{'/ocorrencias/denuncia/editar/' + ${denuncia.id}}" class="btn btn-primary m-1" ><i class="bi bi-pencil-square"></i></a>
                                <!--<button title="Eliminar"  th:href="@{'/ocorrencia/denuncias/eliminar/' + ${denuncia.id}}"  type="submit" class="btn btn-primary m-1"><i class="bi bi-trash"></i></button>-->
                                <a title="Eliminar" th:href="@{'/ocorrencias/denuncia/eliminar/' + ${denuncia.id}}" class="btn btn-primary m-1" onclick="return confirm('Tem certeza de que deseja excluir a denúncia?');"><i class="bi bi-trash"></i></a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<div th:replace="fragmentos/_bottom"></div>