<div th:replace="fragmentos/_top"></div>

<main>


            <!-- Table Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Listar Ocorrências</h6>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Tipo de Ocorrência</th>
                                            <th scope="col">Nome do Reportante</th>
                                            <th scope="col">Identificação do Reportante</th>
                                            <th scope="col">Endereço do Reportante</th>
                                            <th scope="col">Email do Reportante</th>
                                            <th scope="col">Contacto do Reportante</th>
                                            <th scope="col">Nome do Acusado</th>
                                            <th scope="col">Data da Ocorrência</th>
                                            <th scope="col">Descrição</th>
                                            <th scope="col">Ficheiros</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Auto de Queixa</td>
                                            <td>Cliana Malange</td>
                                            <td>005448372MO045</td>
                                            <td>Mártires</td>
                                            <td>clia@gmail.com</td>
                                            <td>9944390352</td>
                                            <td>Belger Fernandes</td>
                                            <td>2023-12-01</td>
                                            <td>Roubo a mão armada a loja da sra. Cliana</td>
                                            <td>acta.pdf</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Auto de Queixa</td>
                                            <td>Cliana Malange</td>
                                            <td>005448372MO045</td>
                                            <td>Mártires</td>
                                            <td>clia@gmail.com</td>
                                            <td>9944390352</td>
                                            <td>Belger Fernandes</td>
                                            <td>2023-12-01</td>
                                            <td>Roubo a mão armada a loja da sra. Cliana</td>
                                            <td>acta.pdf</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Auto de Queixa</td>
                                            <td>Cliana Malange</td>
                                            <td>005448372MO045</td>
                                            <td>Mártires</td>
                                            <td>clia@gmail.com</td>
                                            <td>9944390352</td>
                                            <td>Belger Fernandes</td>
                                            <td>2023-12-01</td>
                                            <td>Roubo a mão armada a loja da sra. Cliana</td>
                                            <td>acta.pdf</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Table End -->

        </main>


        <div th:replace="fragmentos/_bottom"></div>