<div th:replace="fragmentos/_top"></div>

<main>
    <div class="container-fluid pt-4 px-4">
        <h1>Registrar Nova Ocorrência* (Queixa)</h1>
        <div class="row g-4">
            <div class="col-12">
                <div class="bg-secondary rounded h-100 p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4 border-bottom">
                        <h3 class="mb-4 text-primary">Ficha de Ocorrência</h3>
                    </div>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-dados-reportante-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-dados-reportante" type="button" role="tab"
                                aria-controls="nav-dados-reportante" aria-selected="true">
                                Dados do Reportante
                            </button>
                            <button class="nav-link" id="nav-queixa-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-queixa" type="button" role="tab" aria-controls="nav-queixa"
                                aria-selected="false">Queixa</button>
                            <!-- <button class="nav-link" id="nav-acusado-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-acusado" type="button" role="tab" aria-controls="nav-acusado"
                                aria-selected="false">Acusado</button> -->
                        </div>
                    </nav>
                    <form method="POST" th:action="@{/ocorrencias/queixa/cadastrar}" th:object="${formulario}">
                        <div class="tab-content pt-3" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-dados-reportante" role="tabpanel"
                                aria-labelledby="nav-dados-reportante-tab">
                                <div class="row text-start">
                                    <input type="text"  th:field="*{id}" id="id" class="d-none">

                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                                        <label for="nomeCompleto">Nome Completo:</label>
                                        <div class="dropdown my-search-box">
                                            <input type="text" th:field="*{nomeCompleto}" class="form-control dropdown-toggle " id="nomeCompleto"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            <div class="icon">
                                                <i class="bi bi-chevron-down"></i>
                                            </div>
                                            <ul class="dropdown-menu my-content-box w-100" aria-labelledby="nomeCompleto">
                                            </ul>
                                        </div>
                                    </div>

                                    <!-- <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                                        <label for="nomeCompleto">Nome Completo:</label>
                                        <input type="text" th:field="*{nomeCompleto}" id="nomeCompleto" class="form-control">
                                    </div> -->

                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                                        <label for="bi">Nº do Bilhete:</label>
                                        <input type="text" th:field="*{bi}" id="bi" class="form-control">
                                    </div>

                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                                        <label for="endereco">Endereço:</label>
                                        <input type="text" th:field="*{endereco}" id="endereco" class="form-control">
                                    </div>

                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6  mt-3">
                                        <label for="email">Email:</label>
                                        <input type="email" th:field="*{email}" id="email" class="form-control">
                                    </div>

                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                                        <label for="acusadoo">Contacto:</label>
                                        <input type="tel" th:field="*{contacto}" id="contacto" class="form-control">
                                    </div>

                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                                        <label for="dataNascimento">Data de Nascimento</label>
                                        <input type="date" th:field="*{dataNascimento}" id="dataNascimento"
                                            class="form-control">
                                    </div>

                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                                        <fieldset class="row mb-3">
                                            <legend class="col-form-label col-sm-2 pt-0">Gênero</legend>
                                            <div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" th:field="*{genero}"
                                                        id="generoMasculino" value="M" checked>
                                                    <label class="form-check-label" for="generoMasculino">
                                                        Masculino
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" th:field="*{genero}"
                                                        id="generoFeminino" value="F">
                                                    <label class="form-check-label" for="generoFeminino">
                                                        Feminino
                                                    </label>
                                                </div>
                                            </div>
                                    </div>




                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-queixa" role="tabpanel"
                                aria-labelledby="nav-queixa-tab">
                                <div class="row  text-start">
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                                        <label for="dataQueixa">Data da Queixa</label>
                                        <input type="date" th:field="*{dataQueixa}" id="dataQueixa" class="form-control">
                                    </div>

                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                                        <label for="dataOcorrido">Data do Ocorrido</label>
                                        <input type="date" th:field="*{dataOcorrido}" id="dataOcorrido" class="form-control">
                                    </div>

                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                                        <label for="horaOcorrido">Hora do Ocorrido</label>
                                        <input type="time" th:field="*{horaOcorrido}" id="horaOcorrido" class="form-control">
                                    </div>

                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 mt-3">
                                        <label for="tipoOcorrencia">Tipo de Ocorrência</label>
                                        <input type="text" th:field="*{tipoOcorrencia}" id="tipoOcorrencia" class="form-control" readonly>
                                    </div>

                                    <div class="col-12 mt-3">
                                        <label for="descricao">Descrição</label>
                                        <textarea th:field="*{descricao}" class="form-control" style="height: 150px;"
                                            placeholder="Descreva o ocorrido" id="descricao"></textarea>
                                    </div>

                                    <div class="col-12 mt-3 text-center">
                                        <button type="submit" class="btn btn-primary w-50">
                                            <i class="bi bi-pencil-square"></i>
                                            Salvar Queixa
                                        </button>
                                    </div>

                                </div>
                            </div>
                    </form>
                    <!-- <div class="tab-pane fade" id="nav-acusado" role="tabpanel" aria-labelledby="nav-acusado-tab">
                            Sit consetetur eirmod lorem ea magna sadipscing ipsum elitr invidunt, dolores lorem erat ipsum ut aliquyam eos lorem sed. Nonumy aliquyam ea justo eos dolores dolores duo dolores. Aliquyam dolor sea dolores sit takimata no erat vero. At lorem justo tempor lorem duo, stet kasd aliquyam ipsum voluptua labore at.
                        </div> -->
                </div>

            </div>
        </div>
    </div>
    </div>
</main>


<script th:src="@{/assets/js/auto-search.js}"></script>
<div th:replace="fragmentos/_bottom"></div>