<div th:replace="fragmentos/_top"></div>

<main>
            <!-- Table Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h1 class="mb-4">Listar Detentos</h1>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Nome do Detento</th>
                                            <th scope="col">Identificação do Detento</th>
                                            <th scope="col">Endereço do Detento</th>
                                            <th scope="col">Email do Detento</th>
                                            <th scope="col">Contacto do Detento</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Belger Fernandes</td>
                                            <td>005448372LA045</td>
                                            <td>Rangel</td>
                                            <td>belger@gmail.com</td>
                                            <td>926226126</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Belger Fernandes</td>
                                            <td>005448372LA045</td>
                                            <td>Rangel</td>
                                            <td>belger@gmail.com</td>
                                            <td>926226126</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Belger Fernandes</td>
                                            <td>005448372LA045</td>
                                            <td>Rangel</td>
                                            <td>belger@gmail.com</td>
                                            <td>926226126</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Table End -->

        </main>


        <div th:replace="fragmentos/_bottom"></div>