<!DOCTYPE html>
<html lang="pt-ao" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
    <meta charset="utf-8">
    <title>BlueHouse</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="Sistema de Gestão de Esquadra Policial do Cazenga" name="description">
	<meta content="Belger, Cliana Manlage, Erivelto Silva, Jorge Costa, Rita Mulato" name="author">

    <!-- Favicon -->
    <link th:href="@{assets/img/favicon.ico}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css}" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link th:href="@{/assets/vendor/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/assets/vendor/bootstrap-5.0.0/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/assets/css/style.css}" rel="stylesheet">
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sign In Start -->
        <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <div class="shadow p-4 mb-5 bg-white rounded p-sm-5 my-4 mx-3">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <a href="#" class="">
                                <h3 class="text-bg-secondary"><i class="fa fa-user-edit me-2"></i>BlueHouse</h3>
                            </a>
                            <h3>Entrar</h3>
                        </div>
                        <form th:action="@{/autenticacao/login}" method="post">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Introduza o seu email ">
                                <label for="email">Email</label>
                            </div>
                            <div class="form-floating mb-4">
                                <input type="password" class="form-control" name="senha" id="senha" placeholder="Introduza a sua senha">
                                <label for="senha">Senha</label>
                            </div>
                            
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <a href="#" class="link-secondary">Esqueceu a sua senha?</a>
                            </div>
                            <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Entrar</button>

                            <div th:if="${param.error}" class="alert alert-danger alert-dismissible fade show w-100" role="alert">
                                <p>Email ou Senha introduzida está errada, reveja por favor!</p>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sign In End -->
    </div>

    <!-- JavaScript Libraries -->
    <script th:src="@{/assets/vendor/jquery-3.4.1/jquery.js}"></script>
    <script th:src="@{/assets/vendor/bootstrap-5.0.0/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/vendor/chart/chart.min.js}"></script>
    <script th:src="@{/assets/vendor/easing/easing.min.js}"></script>
    <script th:src="@{/assets/vendor/waypoints/waypoints.min.js}"></script>
    <script th:src="@{/assets/vendor/owlcarousel/owl.carousel.min.js}"></script>
    <script th:src="@{/assets/vendor/tempusdominus/js/moment.min.js}"></script>
    <script th:src="@{/assets/vendor/tempusdominus/js/moment-timezone.min.js}"></script>
    <script th:src="@{/assets/vendor/tempusdominus/js/tempusdominus-bootstrap-4.min.js}"></script>

    <!-- Template Javascript -->
    <script th:src="@{/assets/js/main.js}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelector("form").addEventListener("submit", function (event) {
                var email = document.getElementById("email").value;
                var senha = document.getElementById("senha").value;
    
                console.log("Email:", email);
                console.log("Senha:", senha);
            });
        });
    </script>
</body>

</html>